<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf="isVisible" class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h4 class="card-title">{{ phrase.author }}</h4>
        <p class="card-text">{{ phrase.message }}</p>
      </div>
    </div>
    <button (click)="isVisible = !isVisible" type="button" class="btn btn-outline-dark btn-block">Mostrar / Ocultar</button>
  </div>
  <div class="col">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let character of characters" class="list-group-item">{{ character }}</li>
    </ul>
  </div>
</div>
