<div class="animated fadeIn">
  <h1>The Heroes</h1>
  <hr>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text"><small class="text-muted">Last updated 3 min ago...</small></p>
        <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
      </div>
    </div>
  </div>
</div>

