<div class="ui container animated fadeIn">
  <form class="ui form" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="ui huge dividing header">{{ hero.name }}</div>
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          <div class="field">
            <label>Name</label>
            <input
              type="text"
              name="name"
              placeholder="Hero Name"
              required
              [(ngModel)]="hero.name"
            />
          </div>
          <div class="field">
            <label>House</label>
            <select class="ui dropdown" name="house" [(ngModel)]="hero.house">
              <option value="">Select house</option>
              <option value="marvel">Marvel</option>
              <option value="dc">DC</option>
            </select>
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label>Bio</label> <textarea rows="5" name="bio" [(ngModel)]="hero.bio"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui large buttons">
            <a class="ui red labeled icon button" [routerLink]="['/heroes']"
              ><i class="arrow left icon"></i>Back</a
            >
            <div class="or"></div>
            <button type="button" class="ui green button" (click)="onNew(form)">New</button>
            <div class="or"></div>
            <button
              type="submit"
              class="ui blue right labeled icon button"
              [disabled]="form.invalid"
            >
              <i class="save icon"></i>Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
