<div class="row animated fadeIn">
  <div class="col">
    <input
      type="search"
      name="search"
      class="form-control"
      placeholder="Search artist..."
      #query
      (keyup)="searchByArtist(query.value)"
    />
  </div>
</div>
<div class="row mt-5" *ngIf="hasError">
  <div class="col"><app-error-alert [errorInfo]="errorInfo"></app-error-alert></div>
</div>
<div class="row mt-5" *ngIf="isLoading">
  <div class="col"><app-loading></app-loading></div>
</div>
<div class="row mt-5" *ngIf="!isLoading">
  <div class="col">
    <div class="card-columns"><app-card [items]="artists"></app-card></div>
  </div>
</div>
